* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
  grid-template-rows: repeat(12, 1fr);
  background: linear-gradient(
    0deg,
    rgba(221, 209, 190, 1) 0%,
    rgba(255, 250, 245, 1) 55%
  );
  background-attachment: fixed;
}

header {
  margin: auto;
  grid-row: 1;
  grid-column: 1 / span 12;
  font-size: larger;
  color: #10284f;
}

nav {
  grid-row-start: 3;
  grid-column: 2 / span 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  align-items: center;
}

nav h2 {
  display: inline-block;
  cursor: pointer;
}

nav h2:hover {
  font-size: xx-large;
  text-shadow: 2px 8px 6px rgba(0, 0, 0, 0.12),
    0px -5px 35px rgba(255, 255, 255, 0.18), 2px 2px 2px rgba(206, 89, 55, 0);
}

#navHeading1 {
  grid-column-start: 1;
}

#navHeading2 {
  grid-column-start: 2;
}

#navHeading3 {
  grid-column-start: 3;
}

#formSection {
  grid-row: 4 / span 6;
  grid-column: 2 / span 5;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

#dataForm label {
  font-size: larger;
  margin-bottom: 1%;
  margin-top: 1%;
}

#dataForm input {
  display: block;
  width: 100%;
  margin-top: 3%;
  margin-bottom: 4%;
  padding: 10px 5px;
  font-size: medium;
  background-color: #f0f4f7;
}

#displaySectionBorderContainer {
  grid-column: 7 / span 5;
  grid-row: 2 / span 11;
  margin: 10%;
  padding: 10%;
  background-color: #f0f4f7;
  border-color: black;
  border-style: solid;
  border-width: 1px;
  border-radius: 15px;
  min-height: 70%;
  max-height: 80vw;
  min-width: 30vh;
  max-width: 60vh;
}

#displaySection {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 3fr 2fr 2fr 2fr 1fr 2fr 2fr 2fr 2fr 3fr;
  text-align: center;
  background-color: white;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  height: 100%;
  overflow: hidden;
}

#displayInitials1 {
  grid-row: 2;
  grid-column: 4;
  font-size: xxx-large;
  font-weight: bold;
}

#displayInitialsSymbol {
  grid-row: 2;
  grid-column: 5 / span 2;
  font-size: xx-large;
  margin: auto;
}

#displayInitials2 {
  grid-row: 2;
  grid-column: 7;
  font-size: xxx-large;
  font-weight: bold;
}

#displayInviteSentence {
  grid-row: 3;
  grid-column: 3 / span 6;
  font-size: medium;
}

#displayFirstName {
  grid-row: 4;
  grid-column: 2 / span 8;
  margin: auto;
}

#displayAmpersand {
  grid-row: 5;
  grid-column: 2 / span 8;
  margin: auto;
}

#displaySecondName {
  grid-row: 6;
  grid-column: 2 / span 8;
  margin: auto;
}

#displayLastName {
  grid-row: 7;
  grid-column: 2 / span 8;
}

#displayDate {
  grid-row: 8;
  grid-column: 3 / span 6;
  margin: auto;
}

#displayLocation {
  grid-row: 9;
  grid-column: 2 / span 8;
}

footer {
  grid-row: 12;
  grid-column: 7 / span 5;
  color: white;
  margin: auto;
}

/* Display style specifics */

.displayStyle1 {
  outline: 1px solid black;
  outline-offset: -15px;
}

.displayStyle1 div {
  background-color: white;
  font-family: Georgia, Times, "Times New Roman", serif;
  font-size: x-large;
  font-weight: bold;
}

.displayStyle1 #displayLastName {
  border-bottom: 1px solid #000;
}

.displayStyle2 {
  background-image: url("./images/romanticstylebackgroundimage.jpg");
  background-size: cover;
  background-position: center center;
}

.displayStyle2 div {
  font-family: cursive;
  font-size: xx-large;
  font-weight: bold;
}

.displayStyle2 .displayInitials {
  color: #d91b02;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.displayStyle2 #displayInviteSentence {
  font-size: x-large;
  border-top: 1px solid black;
}

.displayStyle2 #displayFirstName {
  border-top: 1px solid black;
}

.displayStyle2 #displayLastName {
  border-bottom: 2px solid #d91b02;
}

.displayStyle3 {
  /* Image derived from Mike Wirth's 'Russian Suprematism Art Maker', licensed under Creative Commons: https://creativecommons.org/licenses/by-sa/3.0/  */
  background-image: url("./images/moderniststylebackgroundimage.jpg");
  background-size: cover;
  background-position: center center;
}

@font-face {
  font-family: Molot;
  src: url("./fonts/Molot-webfont.woff");
}

.displayStyle3 div {
  font-family: Molot;
  font-size: x-large;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white;
  color: #070123;
}

.displayStyle3 #displayInitialsSymbol {
  font-size: xxx-large;
}

.displayStyle3 .displayNames {
  font-size: xx-large;
}

/* Responsive breakpoints for narrower screen display */

@media only screen and (max-width: 1500px) {
  body {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1200px) {
  body {
    grid-template-columns: 0.3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 0.3fr;
  }
}

@media only screen and (max-width: 1010px) {
  body {
    grid-template-columns: 0fr 2fr 2fr 2fr 2fr 1fr;
  }

  header {
    grid-column: 1 / span 5;
    font-size: 2vmax;
    margin-bottom: 3%;
  }

  nav {
    grid-column: 2 / span 4;
    grid-row: 2;
  }

  nav h2 {
    font-size: 2.8vmax;
  }

  nav h2:hover {
    font-size: 3.5vmax;
  }

  #formSection {
    grid-row: 3;
    grid-column: 2 / span 4;
  }

  #displaySectionBorderContainer {
    grid-row: 4;
    grid-column: 2 / span 5;
    min-height: 70vh;
    min-width: 20vh;
    max-width: 60vh;
  }

  footer {
    grid-column: 2 / span 5;
  }
}